@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply 
  [--margin-x:1rem]
  [--main-sidebar-width:4.5rem]
  [--sidebar-panel-width:230px]
  [--sidebar-panel-min-width:64px]
  md:[--margin-x:1.5rem]
  lg:[--main-sidebar-width:5rem]
  lg:[--sidebar-panel-width:240px]
  xl:[--margin-x:4rem]
 
}
:root {
  --swiper-pagination-color: #4f46e5;
  --swiper-theme-color: #7e75fa;
  --swiper-navigation-size: 24px
}
 
@supports selector(::-webkit-scrollbar) {
  .scrollbar-sm::-webkit-scrollbar {
    @apply h-1.5 w-1.5;    
  }
  .scrollbar-sm::-webkit-scrollbar-thumb{
   @apply rounded-full bg-slate-300/80 dark:bg-black;
  }

}

.main-content {
  @apply  grid grid-cols-1 place-content-start transition-[width,margin-left,margin-right,padding-left,padding-right] duration-[.25s] ease-in print:m-0 ;
}
.card {
  @apply relative flex  min-w-[1px] flex-col break-words rounded-lg  bg-white text-slate-500 shadow-soft dark:bg-navy-700 dark:text-navy-200 dark:shadow-none  print:border;
}
.card1 {
  @apply relative flex  min-w-[1px] flex-col break-words rounded-lg  bg-white text-slate-500 shadow-soft dark:shadow-none  print:border;
}
